<div class="create-container">
  <div class="create-card">
    <div class="create-column">
      <img id="created-image" src="" />
    </div>
    <div class="divider">
    </div>
    <div class="create-column">
      Create

      <form action="/items/create" method="post">
        <input id="title-input" name="title"/>
        <textarea id="description-input" name="description"></textarea>
        <input id="imageUrl-input" name="imageUrl"/>
        <button id="submit-button" type="submit">Create</button>
      </form>
    </div>
  </div>
</div>
<script>
  var img = document.getElementById('created-image');
  function handleChange(e) {
    var path = e.target.value.match(/^(https*:\/\/)/i) ? '' : 'http://';
    img.src = path + e.target.value;
  }
  document.getElementById('imageUrl-input').oninput = handleChange;
</script>
